@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.quemSomos {
    padding: 5rem;
    text-align: center;
}

.quemSomos__titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #8d0606;
    font-size: 3.1875rem;
    margin-bottom: 1rem;
}

.quemSomos__descricao {
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}

@media screen and (min-width: 0) {
    .quemSomos {
        padding: 0 2rem;
    }

    .quemSomosText {
        padding: 0 2rem;
    }
}